<div>
  <div class="p-2 surface-ground border-round-2xl p-3 mb-3 sticky top-0">
    <h2>Current weather data</h2>
    @if (location().state === DataState.LOADED) {
      <div>
        <h3>
          {{ location().data.address.city }},
          {{ location().data.address.postcode }},
          {{ location().data.address.country }}
          {{ getCountryIcon(location().data.address.countryCode) }}
        </h3>
      </div>
    } @else if (location().state === DataState.LOADING) {
      Loading
    } @else if (location().state === DataState.UNDEFINED) {
      Undefined
    }
  </div>

  @if (weather()) {
    <div
      class="flex flex-wrap w-full gap-4 justify-content-center align-items-center my-3">
      @for (measurement of weather(); track $index) {
        <app-weather-measurement
          class="w-3 h-8rem block"
          containerClass="bg-primary-reverse"
          [measurement]="measurement"></app-weather-measurement>
      }
    </div>
  } @else {
    <p>No weather data available</p>
  }
</div>
