<div class="flex justify-content-between">
  <div
    class="p-2 surface-ground border-round-2xl p-3 mb-2 sticky top-0 flex align-items-center flex-1">
    @if (location().state === DataState.LOADED) {
      <div>
        <h1>{{ location().data.address.city }}</h1>
        <h2>
          {{ location().data.address.country }}
          <span class="text-3xl">{{
            getCountryIcon(location().data.address.countryCode)
          }}</span>
        </h2>
      </div>
    } @else if (location().state === DataState.LOADING) {
      Loading
    } @else if (location().state === DataState.UNDEFINED) {
      Undefined
    }
  </div>

  @if (weather()) {
    <div
      class="flex gap-4 align-items-center justify-content-center flex-wrap p-2">
      <div class="flex flex-column gap-3">
        <div
          class="p-3 bg-primary w-18rem h-6rem border-round-2xl flex align-items-center flex-column justify-content-between">
          <div class="flex align-items-center gap-2 w-full">
            <i class="fa fa-temperature-low fa-xl"></i>
            <span>Current temperature</span>
          </div>
          <span class="text-3xl">
            {{ weather()?.temperature?.value }}
            {{ weather()?.temperature?.unit }}
          </span>
        </div>

        <div
          class="p-3 bg-primary w-18rem h-6rem border-round-2xl flex align-items-center flex-column justify-content-between">
          <div class="flex align-items-center gap-2 w-full">
            <i class="fa fa-temperature-low fa-xl"></i>
            <span>Feels like</span>
          </div>
          <span class="text-3xl">
            {{ weather()?.apparentTemperature?.value }}
            {{ weather()?.apparentTemperature?.unit }}
          </span>
        </div>
      </div>
      <div class="p-3 bg-primary w-10rem h-13rem border-round-2xl">
        <app-weather-icon
          [weatherCode]="toNumber(weather()?.weatherCode?.value)"
          [displayTooltip]="false"></app-weather-icon>
      </div>
    </div>
  }
</div>
