<div
  class="bg-gray-900 shadow-2 sm:border-round-2xl sm:p-2 p-0 my-auto sm:m-2 md:p-3 md:py-5 flex sm:flex-column gap-7 align-items-center justify-content-center">
  <div>
    <h1 class="text-gray-50 text-center">W</h1>
  </div>
  <div class="flex sm:flex-column justify-content-center align-items-center">
    <app-sidebar-link
      label="Location Overview"
      link=""
      icon="pi pi-send"></app-sidebar-link>
    <app-sidebar-link label="Link" link="" icon="fa fa-user"></app-sidebar-link>
    <app-sidebar-link label="Link" link="" icon="fa fa-user"></app-sidebar-link>
    <app-sidebar-link label="Link" link="" icon="fa fa-user"></app-sidebar-link>
  </div>
  <div class="flex justify-content-center align-items-center">
    <p-avatar styleClass="m-0" size="xlarge" shape="circle">
      <a [routerLink]="['/profile/user-data']">
        <i class="fa fa-user w-full h-full"></i>
      </a>
    </p-avatar>
  </div>
</div>
