<div class="current-location">
  @if (locationDataState() === DataState.LOADED) {
    <!-- <div class="surface-ground p-3 border-round-2xl"> -->
    <!-- <h4>
        Current location: {{ currentCoords()?.longitude }},
        {{ currentCoords()?.latitude }}
      </h4> -->
    <!-- </div> -->
  } @else if (locationDataState() === DataState.ERROR) {
    <span>Error encountered while fetching your location</span>
  } @else if (locationDataState() === DataState.LOADING) {
    <span class="mb-2">Getting your location</span>
    <p-progressBar
      mode="indeterminate"
      [style]="{ height: '6px' }"></p-progressBar>
  } @else if (locationDataState() === DataState.UNDEFINED) {
    <span
      >Enable geolocation services to get weather data based on your
      location</span
    >
  }
</div>
