:root {
  --cold-start: #0061ff;
  --cold-stop: #60efff;

  --hot-start: #ff0f7b;
  --hot-stop: #f89b29;
}

@property --myColor1 {
  syntax: '<color>';
  initial-value: #e7e7e7;
  inherits: false;
}

@property --myColor2 {
  syntax: '<color>';
  initial-value: #e7e7e7;
  inherits: false;
}

body {
  height: 100vh;
  overflow-y: clip;
}

app-root {
  min-height: 100vh;
}

app-home-routing {
  display: flex;
}
