.p-dialog {
}

.p-dialog-header {
  padding: $spacer * 2;
}

.p-dialog-titlebar {
  padding: $spacer * 2;
}

.p-dialog-content {
  padding: $spacer * 2;
  background: #ffffffa4;
  backdrop-filter: blur(20px);
}
.p-dialog-footer {
  padding: $spacer * 2;
  background: #ffffffa4;
  backdrop-filter: blur(20px);
}
