.weather-forecast {
  border-radius: $spacer;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  gap: $spacer * 2;

  & .forecast-measurement {
    & .p-slider-handle {
      display: none;
    }

    &__temperature-interval {
      display: flex;
      gap: $spacer;
      & p-slider {
        flex: 1;
      }
    }
  }
}

.forecast-measurements {
  container: frc / inline-size;
}

app-forecast-measurements {
  display: flex;
  flex-direction: column;
  gap: $spacer * 2;
}

@container frc (max-width: 250px) {
  .forecast-measurement {
    & > div {
      display: flex !important;
      flex-direction: column !important;
      gap: $spacer !important;

      & .forecast-measurement__temperature-interval {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
