.weather-forecast {
  border-radius: $spacer;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  gap: $spacer * 2;

  & .forecast-measurement {
    padding: $spacer * 2;
    width: 100%;
    margin-bottom: $spacer;
    border-bottom: 1px solid #e7e7e7;

    & .p-slider-handle {
      display: none;
    }

    &__temperature-interval {
      display: flex;
      gap: $spacer;
      width: 100%;
      align-items: center;

      & p-slider {
        flex: 1;
      }
    }
  }
}
