.weather-forecast {
  border-radius: $spacer;
  overflow-x: clip;
  display: flex;
  flex-direction: column;
  gap: $spacer * 2;

  & .forecast-measurement {
    & .p-slider-handle {
      display: none;
    }

    &__temperature-interval {
      display: flex;
      gap: $spacer;
      width: 100%;
      align-items: center;

      & p-slider {
        flex: 1;
      }
    }
  }
}

app-forecast-measurements{
  display:flex;
  flex-direction: column;
  gap: $spacer * 2;
}
