.p-overlaypanel {
  background-color: #ffffffa4;
  backdrop-filter: blur(20px);
}
.p-overlaypanel-content {
  // min-width: 30rem;
  // min-height: 30rem;
  padding: $spacer * 2;

  & p-chart {
    & canvas {
      // height: 20rem;
    }
  }
}
