.weather-data {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(12, minmax(0, 1fr));
  grid-auto-flow: dense;
  gap: $spacer;
  overflow-y: scroll;
  & > div {
    height: 100%;
    & app-weather-measurement {
      height: 100%;
      & > div {
        height: 100%;
      }
    }
  }

  & p-panel {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    & .p-panel-header {
      overflow-x: hidden;
      display: flex;
      gap: $spacer;
      padding: $spacer;
    }

    & .p-panel-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacer;
    }
    & .p-panel-toggleable:not(.p-panel-expanded) {
      & .p-panel-header {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transition-delay: 250ms;
      }
    }
  }
}

.weather-overview {
  display: flex;
  gap: $spacer;

  & app-forecast-measurements {
    flex: 3;
  }

  & app-weather-measurements {
    flex: 7;
  }
}

app-weather-measurements {
  display: block;
  container: wtr / inline-size;
}

@container wtr (max-width: 1200px) {
  .weather-data {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }
}

@container wtr (max-width: 1000px) {
  .weather-data {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: repeat(12, minmax(0, 1fr));
  }
}

@container wtr (max-width: 900px) {
  .weather-data {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
  }
}

@container wtr (max-width: 700px) {
  .weather-data {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-rows: repeat(8, minmax(0, 1fr));
  }
}

@container wtr (max-width: 600px) {
  .weather-data {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
  }
}

@container wtr (max-width: 500px) {
  .weather-data {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
}
