.weather-data {
  & p-panel {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
    & .p-panel-header {
      overflow-x: hidden;
      display: flex;
      gap: $spacer;
      padding: $spacer;
    }

    & .p-panel-content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacer;
    }
    & .p-panel-toggleable:not(.p-panel-expanded) {
      & .p-panel-header {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        transition-delay: 250ms;
      }
    }
  }
}

.weather-overview {
  display: flex;
  gap: $spacer;

  & app-forecast-measurements {
    flex: 3;
  }

  & app-weather-measurements {
    flex: 7;
  }
}
