<div
  class="forecast-measurement p-4 bg-gray-100 hover:bg-gray-200 transition-all cursor-pointer"
  [class]="{ 'bg-primary-reverse': isToday }"
  tabindex="0"
  (click)="openOverlay($event)"
  (keydown)="openOverlay($event)">
  <div [class]="{ 'font-bold': isToday }" class="grid align-items-center">
    <div class="lg:col-3 md:col-10">
      <app-weather-icon
        class=""
        [weatherCode]="measurement.weatherCode"></app-weather-icon>
    </div>

    <div class="flex gap-2 align-items-center md:col-2 lg:col-2">
      {{ measurement.date | appDayOfWeek }}
    </div>

    <div
      class="forecast-measurement__temperature-interval pointer-events-none lg:col-7 md:col-12 flex flex-column justify-content-end align-items-end text-sm">
      <div class="flex gap-3 bg-red-200 p-2 border-round-3xl">
        <i class="fa fa-arrow-up"></i>

        {{ measurement.maxTemperature | appUnitValueToString }}
      </div>
      <div class="flex gap-3 bg-blue-200 p-2 border-round-3xl">
        <i class="fa fa-arrow-down"></i>
        {{ measurement.minTemperature | appUnitValueToString }}
      </div>
    </div>
  </div>
</div>

<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <h4>Hourly weather details</h4>

    @if (hourlyForecast().state !== DataState.LOADING) {
      @for (dataPiece of data; track $index) {
        <div>
          <p-chart
            type="line"
            [data]="dataPiece"
            [options]="options"
            width="300px"
            height="200px"
            [responsive]="true"></p-chart>
        </div>
      }
    }
  </ng-template>
</p-overlayPanel>
