<div class="location-search">
  @if (location().loadingState === DataState.LOADED) {
    <div class="bg-green-300 p-3 border-round-3xl">
      {{ location().coords?.latitude | number: '1.0-2' }}
    </div>
    <div class="bg-green-300 p-3 border-round-3xl">
      {{ location().coords?.longitude | number: '1.0-2' }}
    </div>
  }

  <p-autoComplete
    placeholder="Search for location"
    [suggestions]="suggestions"
    styleClass="w-100 border-round-3xl bg-primary-blur"
    field="name"
    (onSelect)="countrySelected($event)"
    (completeMethod)="searchChanged($event)">
    <ng-template let-country pTemplate="item">
      <div class="flex align-items-center gap-2">
        <div>{{ country.name }}</div>
        <span class="text-3xl">{{ getFlagIcon(country.country_code) }}</span>
      </div>
    </ng-template>
  </p-autoComplete>
  <p-button
    icon="pi pi-send"
    [rounded]="true"
    severity="help"
    pTooltip="Enable geolocation to be able to look at the forecast for your location"
    tooltipPosition="right"
    [showDelay]="500"
    (onClick)="getLocation()"></p-button>
</div>
