<div class="weather-data">
  <app-weather-measurement
    icon="fa fa-cloud"
    title="Cloud cover"
    [measurement]="weather.cloudCover"></app-weather-measurement>

  <app-weather-measurement
    icon="fa fa-droplet"
    title="Precipitation"
    [measurement]="weather.precipitation"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-droplet"
    title="Humidity"
    [measurement]="weather.humidity"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-gauge"
    title="Pressure"
    [measurement]="weather.pressure"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-cloud-rain"
    title="Rain"
    [measurement]="weather.rain"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-cloud-showers-heavy"
    title="Showers"
    [measurement]="weather.showers"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-snowflake"
    title="Snowfall"
    [measurement]="weather.snowfall"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-gauge"
    title="Surface pressure"
    [measurement]="weather.surfacePressure"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-temperature-half"
    title="Temperature"
    [measurement]="weather.temperature"></app-weather-measurement>
  <app-weather-measurement
    icon="fa-solid fa-compass"
    title="Wind direction"
    [measurement]="weather.windDirection"></app-weather-measurement>
  <app-weather-measurement
    icon="fa fa-wind"
    title="Wind speed"
    [measurement]="weather.windSpeed"></app-weather-measurement>
</div>
