app-auth-layout {
  & > div {
    position: absolute;
    top: 0;
    width: 100%;
    padding: $spacer * 4;
  }
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  & app-login,
  app-register {
    width: clamp(10rem, 50%, 40rem);
    height: clamp(10rem, 50%, 40rem);
    display: block;

    & app-login-form,
    app-register-form {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
