//Home layout
app-home-routing {
  background-color: #e7e7e7;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: start;
  gap: $spacer;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 1fr 1000fr;

  p-toast {
    position: absolute;
  }

  & app-sidebar {
    display: flex;
    grid-area: sidebar;
  }

  & .content {
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: $spacer * 2;
    border-radius: $spacer;
    overflow-y: scroll;
    box-shadow: $shadow-standard;
    grid-area: content;
    width: clamp(0rem, 100%, 100rem);
    padding-block: $spacer * 3;
    margin-inline: auto;
    margin-block: $spacer * 4;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  @media only screen and (max-width: $sm) {
    app-home-routing {
      & .content {
        height: 100%;
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: $md) {
    app-home-routing {
      .content {
        height: clamp(30vh, 100rem, 80vh);
        width: clamp(30vw, 100rem, 80vw);
      }
    }
  }
  @media only screen and (max-width: $lg) {
    .content {
      height: clamp(30vh, 100rem, 80vh);
      width: clamp(30vw, 100rem, 80vw);
    }
  }
  @media only screen and (max-width: $xl) {
    .content {
      height: clamp(30vh, 100rem, 80vh);
      width: clamp(30vw, 100rem, 80vw);
    }
  }

  @media only screen and (max-width: 576px) {
    app-home-routing {
      grid-template-areas:
        'sidebar sidebar'
        'content content';
    }

    @media only screen and (max-width: 576px) {
      app-sidebar {
        flex-direction: row;
      }
    }
  }
}
