app-user-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: start;
  gap: 0.5rem;
  grid-template-areas: 'sidebar content';
  grid-template-columns: 1fr 1000fr;

  & app-sidebar {
    height: 100%;
    grid-area: sidebar;
  }

  & .content {
    grid-area: content;
    width: clamp(0rem, 100%, 100rem);
    padding-block: $spacer * 3;
    margin-inline: auto;
    padding-inline: $spacer * 3;
    background: $surface-ground;
    margin-block: $spacer * 4;
    box-shadow: $shadow-standard;
  }
}
