//spacing
$spacer: 0.5rem;

//Colors - PrimeNG
$surface-hover: var(--surface-hover);
$surface-ground: var(--surface-ground);
$surface-section: var(--surface-section);
$surface-card: var(--surface-card);
$surface-overlay: var(--surface-overlay);
$surface-border: var(--surface-border);
$surface-hover: var(--surface-hover);
