<h2 class="my-3">Personal details</h2>
<form class="grid mb-3" [formGroup]="personalSettingsForm">
  <div class="flex flex-column gap-2 col-6">
    <label for="firstname">First name</label>
    <input
      pInputText
      id="firstName"
      aria-describedby="firstname-help"
      [formControl]="personalSettingsForm.controls.firstName" />
  </div>
  <div class="flex flex-column gap-2 col-6">
    <label for="lastName">Last name</label>
    <input
      pInputText
      id="lastName"
      aria-describedby="lastname-help"
      [formControl]="personalSettingsForm.controls.lastName" />
  </div>
  <div class="flex flex-column gap-2 col-6">
    <label for="email">Email</label>
    <input
      pInputText
      id="email"
      aria-describedby="email-help"
      [formControl]="personalSettingsForm.controls.email" />
  </div>
</form>

<p-divider></p-divider>

<h2 class="my-3">Data formatting</h2>
<div class="grid mb-3">
  <div class="flex flex-column gap-2 col-6">
    <label for="firstname">Time format</label>
    <p-dropdown
      optionLabel="name"
      [options]="timeFormats"
      placeholder="Time format"
      styleClass="w-full"></p-dropdown>
  </div>
  <div class="flex flex-column gap-2 col-6">
    <label for="lastname">Date format</label>
    <p-dropdown
      optionLabel="name"
      [options]="dateFormats"
      placeholder="Date format"
      styleClass="w-full"></p-dropdown>
  </div>
</div>
