<div class="p-2 surface-ground border-round-2xl p-3 sticky top-0 z-1">
  <h2>10 Day forecast</h2>
</div>
@if (forecast().state === DataState.LOADED) {
  <div class="card weather-forecast">
    <p-dataView #dv [value]="forecast().data.measurements">
      <ng-template pTemplate="list">
        <div class="forecast-measurements">
          @for (measurement of forecast().data.measurements; track $index) {
            <app-forecasting-measurement
              class="scalein"
              [class]="{
                'border-primary border-solid border-bottom-1 ':
                  $index !== forecast().data.measurements.length - 1
              }"
              [style]="{ 'animation-duration': 0.5 + $index * 0.1 + 's' }"
              [measurement]="measurement"></app-forecasting-measurement>
          }
        </div>
      </ng-template>
    </p-dataView>
  </div>
} @else if (forecast().state === DataState.LOADING) {
  <h4>10 Day forecast</h4>
  @for (element of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track $index) {
    <div class="forecast-measurement">
      <div class="">
        <p-skeleton styleClass="p-5 my-1"></p-skeleton>
      </div>
    </div>
  }
} @else if (forecast().state === DataState.UNDEFINED) {
  <div
    class="empty-state-container h-full flex flex-column align-items-center justify-content-center surface-ground border-round-2xl p-4 mt-4">
    <img
      src="../../../../assets/empty-state/ghost.svg"
      alt="ghost empty state" />
    <div
      class="flex flex-column gap-1 justify-content-center align-items-center">
      <p class="text-center mb-0">No forecast has been requested yet.</p>
      <p class="text-center mb-0">
        Either grant location access or search for a location to get some data
        displayed!
      </p>
    </div>
  </div>
}
