@if (weather().state === DataState.LOADED) {
  <div class="p-2 surface-ground border-round-2xl p-3 mb-3">
    <h2>Current weather data</h2>
  </div>
  <div class="weather-data" appDraggable>
    @for (measurement of weatherDisplaySettings(); track $index) {
      @if (measurement.key && measurement.unit) {
        <div
          class=""
          [style]="{
            'animation-duration': 0.5 + $index * 0.1 + 's',
            'grid-column': 'span ' + measurement.colSpan,
            'grid-row': 'span ' + measurement.rowSpan
          }">
          <app-weather-measurement
            [measurement]="measurement"></app-weather-measurement>
        </div>
      }
    }
  </div>
} @else if (weather().state === DataState.LOADING) {
  <div class="weather-data grid">
    <div class="col-6 md:col-6 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-3 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-3 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-4 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-4 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-4 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-5 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-5 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-2 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>

    <div class="col-6 md:col-6 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
    <div class="col-6 md:col-6 sm:col-6">
      <p-skeleton styleClass="p-5"></p-skeleton>
    </div>
  </div>
} @else if (weather().state === DataState.UNDEFINED) {
  <div class="h-full">
    <div class="p-2 surface-ground border-round-2xl p-3">
      <h2>No weather data</h2>
    </div>
  </div>
}
